<h1>It's time to play rock, paper, scissors, using your browser's address bar.</h1>
<p>Enter any pair combination of rock, paper, scissors into the address bar separated by a /.</p>
<p>Have fun, and don't forget to see the highly exhilarating outcome when you enter a two of the same things.<p>
